
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    background-color: #ffffff; 
    border: 1px solid #eaeaea;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label,
  input {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  button[type="submit"] {
    /* Kode CSS lainnya */
    transition: background-color 0.7s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  